ARC_AI_Blog_Automation_FINAL.json
{
  "name": "ARC AI Blog Automation",
  "nodes": [
    {
      "parameters": {},
      "id": "051053f3-4bb2-45f1-a47b-15b5a5f50e94",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qEE0kEEAIsF9PuTFtY57Nd2ontoJA2uu1qO8n-_I4Aw",
          "mode": "list",
          "cachedResultName": "Title",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qEE0kEEAIsF9PuTFtY57Nd2ontoJA2uu1qO8n-_I4Aw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1583144844,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qEE0kEEAIsF9PuTFtY57Nd2ontoJA2uu1qO8n-_I4Aw/edit#gid=1583144844"
        },
        "options": {}
      },
      "id": "e60dfcd4-7b05-4b4b-a7be-fc22e7de884a",
      "name": "Get Pending Topics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        224,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xVROthrF9JnnTOz8",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get all items from the Google Sheet\n// Sheet has headers: Title (col A), Status (col B)\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{ json: { error: 'No topics found in sheet', postReady: false } }];\n}\n\n// Find the FIRST row where Status is NOT 'Done'\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  \n  // DIRECTLY read the Title column (header is 'Title')\n  const title = item.Title || item.title || '';\n  \n  // Read the Status column\n  const status = (item.Status || item.status || '').toString().trim().toLowerCase();\n  \n  // Skip if already processed\n  if (status === 'done' || status === 'published' || status === 'completed') {\n    continue;\n  }\n  \n  // Skip if title is empty\n  if (!title || title.trim() === '') {\n    continue;\n  }\n  \n  // Found a pending topic!\n  const rowNum = item.row_number || (i + 2);\n  return [{\n    json: {\n      Topic: title.trim(),\n      Keyword: title.trim(),\n      Category: 'Fertility',\n      Tags: '',\n      'Target Audience': 'women seeking fertility information',\n      rowNumber: rowNum,\n      postReady: true\n    }\n  }];\n}\n\nreturn [{ json: { error: 'All topics have been processed!', postReady: false } }];"
      },
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567890",
      "name": "Get First Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {},
      "id": "d9756f7b-86f6-49db-9093-508f84d0077e",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2320,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite medical and healthcare blog writer.\n\nCRITICAL STYLE REQUIREMENTS (Match this exactly):\n- Extremely short, punchy paragraphs (1-3 sentences maximum).\n- Use simple, direct, almost poetic language. Fragmented sentences are encouraged for impact (e.g., 'Fear is the enemy. Patience is the ally.').\n- Deeply empathetic, removing shame and judgment.\n- Highly structured with clear H2/H3 headings.\n- When listing items, use numbered H3s followed by short explanations.\n- Integrate localized keywords naturally (e.g., 'A good fertility hospital in chennai often advises...').\n- End with a philosophical but practical 'Final Thought' section.\n\nEXAMPLE STYLE REFERENCE:\n'Erectile Dysfunction is more common than most men admit. Not because they are weak. But because life today is heavy. Stress is high. Sleep is low. Food is rushed. Mind is noisy. Body carries the weight. ED is not a judgment on masculinity. It is a signal. The body saying it needs attention. Not shame. Not excuses. Just correction.'\n\nRULES:\n1. Output ONLY valid JSON. No markdown fences, no explanation, no text before or after the JSON object.\n2. content_html must be 1200-2000+ words using h2, h3, p, ul, li, strong, em tags.\n3. CRITICAL: In content_html use SINGLE QUOTES for all HTML attribute values. Never use unescaped double quotes inside any JSON string value.\n4. The returned \"title\" must exactly match the provided Topic.\n5. Do NOT repeat the main title at the beginning of content_html. Start directly with an engaging hook paragraph or an h2 sub-heading.\n6. Include FAQ section and CTA.\n7. Do NOT include any image tags in content_html.\n8. Ensure output is STRICTLY valid JSON with all special characters properly escaped.\n9. Do NOT use literal \\n or newlines in the content_html string. Use HTML tags like <p> for spacing.\n10. MANDATORY: You must return ALL requested keys. Do not truncate the content_html or omit keys. The content_html must be at least 1500 words to be considered complete.\n\nWrite a blog for:\nTopic: {{ $json.Topic }}\nKeyword: {{ $json.Keyword || $json.Topic }}\nCategory: {{ $json.Category || 'General' }}\nTarget Audience: {{ $json['Target Audience'] || 'general readers' }}\nTags: {{ $json.Tags || '' }}\n\nReturn JSON with keys: title, slug, excerpt, meta_title, meta_description, focus_keyword, tags (array), category, content_html, faq (array of {question, answer})"
      },
      "id": "0ec40b01-c7a4-4df4-985d-eabd67e29b6a",
      "name": "Generate Blog",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        672,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 8192,
          "temperature": 0.7
        }
      },
      "id": "ff0dddbc-0181-4b4a-a293-edf6d9d352f9",
      "name": "Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        752,
        528
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "dRr4aAmAugGGvZrT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst topicData = $('Get First Pending').item.json;\nconst rowId = topicData.rowNumber;\nconst topic = topicData.Topic || '';\nconst keyword = topicData.Keyword || topic;\n\n// Check if Gemini errored\nif (!item.output && !item.text && !item.response) {\n  return { json: { rowId, topic, error: 'Gemini returned no output', postReady: false } };\n}\n\n// Get raw text\nlet raw = item.output || item.text || '';\nif (!raw && item.response) raw = item.response.text || JSON.stringify(item.response);\nif (!raw) raw = JSON.stringify(item);\n\n// Strip markdown fences\nraw = raw.replace(/```json\\n?/gi, '').replace(/```\\n?/g, '').trim();\n\n// Extract JSON block\nconst jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) {\n  return { json: { rowId, topic, error: 'No JSON found in Gemini output', postReady: false } };\n}\nlet jsonStr = jsonMatch[0];\n\nlet blog;\ntry { blog = JSON.parse(jsonStr); } catch(e1) {\n  try {\n    let s = jsonStr;\n    s = s.replace(/([^\\\\])\\n/g, '$1\\\\n').replace(/([^\\\\])\\r/g, '$1').replace(/([^\\\\])\\t/g, '$1\\\\t');\n    blog = JSON.parse(s);\n  } catch(e2) {\n    function extractField(src, key) {\n      const re = new RegExp('\"' + key + '\"\\\\s*:\\\\s*\"([\\\\s\\\\S]*?)\"\\\\s*(?:,\\\\s*\"[a-z_]|\\\\}$)', 'i');\n      const m = src.match(re);\n      return m ? m[1] : '';\n    }\n    function extractArray(src, key) {\n      const re = new RegExp('\"' + key + '\"\\\\s*:\\\\s*\\\\[([\\\\s\\\\S]*?)\\\\]', 'i');\n      const m = src.match(re);\n      if (!m) return [];\n      return m[1].match(/\"([^\"]*)\"/g)?.map(x => x.replace(/\"/g, '')) || [];\n    }\n    const title = extractField(jsonStr, 'title');\n    const contentHtml = extractField(jsonStr, 'content_html');\n    if (!title || !contentHtml) {\n      return { json: { rowId, topic, error: 'JSON parse failed: ' + e2.message, postReady: false } };\n    }\n    blog = {\n      title, content_html: contentHtml,\n      slug: extractField(jsonStr, 'slug') || title.toLowerCase().replace(/[^a-z0-9\\s-]/g, '').replace(/\\s+/g, '-'),\n      excerpt: extractField(jsonStr, 'excerpt'),\n      meta_title: extractField(jsonStr, 'meta_title') || title,\n      meta_description: extractField(jsonStr, 'meta_description'),\n      focus_keyword: extractField(jsonStr, 'focus_keyword'),\n      category: extractField(jsonStr, 'category') || 'General',\n      tags: extractArray(jsonStr, 'tags')\n    };\n  }\n}\n\nif (!blog || !blog.title || !blog.content_html) {\n  return { json: { rowId, topic, error: 'Missing title or content', postReady: false } };\n}\n\n// Clean up slug: must be English letters/numbers only.\nlet slug = (blog.slug || '').toLowerCase().replace(/[^a-z0-9\\s-]/g, '').replace(/\\s+/g, '-');\nif (!slug) {\n  slug = topic.toLowerCase().replace(/[^a-z0-9\\s-]/g, '').replace(/\\s+/g, '-');\n  if (typeof language !== 'undefined' && language !== 'English') {\n    slug += '-in-' + language.toLowerCase();\n  }\n}\nslug = slug.substring(0, 80);\n\n// NO image in blog body content - image will be set as Featured Image only\nconst cleanedContent = (blog.content_html || '').replace(/\\\\n/g, '').replace(/\\n/g, '');\nconst tags = Array.isArray(blog.tags) ? blog.tags : (blog.tags || '').split(',').map(t => t.trim()).filter(Boolean);\n\n// SMART TRUNCATION\nfunction truncateStr(str, maxLen) {\n  if (!str) return '';\n  if (str.length <= maxLen) return str;\n  let t = str.substring(0, maxLen);\n  let lastSpace = t.lastIndexOf(' ');\n  if (lastSpace > 0) t = t.substring(0, lastSpace);\n  return t.replace(/[^a-zA-Z0-9]$/, '');\n}\n\nconst finalMetaTitle = truncateStr(blog.meta_title || blog.title, 60);\nconst finalMetaDesc = truncateStr(blog.meta_description || blog.excerpt || '', 160);\n\n// Category filter and default category addition\nconst ALLOWED_CATEGORIES = [\n  \"Best Practices And FAQs\",\n  \"Fertility Hospitals\",\n  \"Menstrual Health\",\n  \"Fertility Treatments\",\n  \"Male Infertility Doctor\",\n  \"Medical Innovations\",\n  \"PCOS Treatment\",\n  \"Pregnancy Care\"\n];\n\nconst titleLower = (blog.title || topic || '').toLowerCase();\nconst matchedCats = new Set();\n\n// Always include Best Practices And FAQs by default\nmatchedCats.add(\"Best Practices And FAQs\");\n\n// Keyword mapping:\nif (/\\bpcos\\b|\\bpcod\\b|polycystic|ovarian syndrome/i.test(titleLower)) {\n  matchedCats.add(\"PCOS Treatment\");\n}\n\nif (/\\bmale\\b|\\bsperm\\b|\\bsemen\\b|varicocele|testicular|\\bmen\\b|\\bman\\b/i.test(titleLower) && !/\\bfemale\\b|\\bwomen\\b/i.test(titleLower)) {\n  matchedCats.add(\"Male Infertility Doctor\");\n}\n\nif (/menstrual|period|periods|cycle|menstruation|ovulation|bleeding|fsh|lh|estrogen|progesterone|hormone|hormonal/i.test(titleLower)) {\n  matchedCats.add(\"Menstrual Health\");\n}\n\nif (/treatment|treatments|ivf|icsi|iui|surrogacy|clomid|egg freezing|fertility therapy|acupuncture|donor|in vitro|fertilization/i.test(titleLower)) {\n  matchedCats.add(\"Fertility Treatments\");\n}\n\nif (/hospital|hospitals|clinic|clinics|center|centres|arc|chennai|bangalore|coimbatore|madurai|trichy|vellore|salem/i.test(titleLower)) {\n  matchedCats.add(\"Fertility Hospitals\");\n}\n\nif (/innovation|innovations|technology|latest|advanced|research|new method|stem cell|prp|laser assisted|pgd|pgs|era test/i.test(titleLower)) {\n  matchedCats.add(\"Medical Innovations\");\n}\n\nif (/pregnancy|pregnant|prenatal|mother|motherhood|baby|conceive|conceiving|miscarriage|gestational|conception/i.test(titleLower)) {\n  matchedCats.add(\"Pregnancy Care\");\n}\n\n// Now merge with OpenAI/Gemini's selected categories\nlet aiCats = [];\nif (Array.isArray(blog.categories)) {\n  aiCats = blog.categories;\n} else if (typeof blog.categories === 'string') {\n  aiCats = [blog.categories];\n} else if (typeof blog.category === 'string') {\n  aiCats = [blog.category];\n}\n\naiCats.forEach(cat => {\n  if (ALLOWED_CATEGORIES.includes(cat)) {\n    matchedCats.add(cat);\n  }\n});\n\nconst selectedCats = Array.from(matchedCats);\n\nreturn {\n  json: {\n    rowId, title: blog.title, slug, content: cleanedContent,\n    excerpt: blog.excerpt || blog.meta_description || '',\n    meta_title: finalMetaTitle,\n    meta_description: finalMetaDesc,\n    focus_keyword: blog.focus_keyword || keyword,\n    tags: tags.join(', '), category: blog.category || 'General',\n    categories: selectedCats,\n    postReady: true\n  }\n};"
      },
      "id": "6a43691d-fa7a-4a0e-bd92-33538a74210a",
      "name": "Parse Blog JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.postReady }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "011ea36e-c3c5-448f-9530-0c22a3ab1686",
      "name": "Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        304
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ===== RESOLVE FEATURED IMAGE, CATEGORIES & TAGS FROM WORDPRESS =====\n// The image URL is already uploaded to WP Media Library.\n// We need to find its Media ID so we can set it as Featured Image.\n// We also resolve category names to their WordPress IDs (no creation allowed).\n// And we resolve or dynamically create tags (creation allowed).\n// =====================================================================\n\nconst WP_URL = 'https://forallhealthcare.com'; // No trailing slash\nconst WP_USER = 'YOUR_WP_USERNAME';\nconst WP_APP_PASSWORD = 'YOUR_WP_APP_PASSWORD';\n\n// The image URL in the WordPress media library\nconst FEATURED_IMAGE_URL = 'https://forallhealthcare.com/wp-content/uploads/2026/05/egg-and-sperm-collection.webp';\n\nconst blogData = $input.item.json || {};\nlet featuredMediaId = 0;\nconst categoryIds = [];\nconst tagIds = [];\n\ntry {\n  const authHeader = 'Basic ' + Buffer.from(WP_USER + ':' + WP_APP_PASSWORD).toString('base64');\n  \n  // 1. RESOLVE FEATURED IMAGE\n  try {\n    const filename = FEATURED_IMAGE_URL.split('/').pop().replace(/\\.[^.]+$/, '');\n    const searchUrl = WP_URL + '/wp-json/wp/v2/media?search=' + encodeURIComponent(filename) + '&per_page=10';\n    \n    let mediaItems;\n    if (typeof fetch !== 'undefined') {\n      const r = await fetch(searchUrl, { headers: { 'Authorization': authHeader } });\n      mediaItems = await r.json();\n    } else {\n      mediaItems = await this.helpers.httpRequest({\n        method: 'GET',\n        url: searchUrl,\n        headers: { 'Authorization': authHeader },\n        json: true\n      });\n    }\n    \n    if (mediaItems && Array.isArray(mediaItems) && mediaItems.length > 0) {\n      const exactMatch = mediaItems.find(m => m.source_url === FEATURED_IMAGE_URL);\n      featuredMediaId = exactMatch ? exactMatch.id : mediaItems[0].id;\n    }\n  } catch (err) {}\n  \n  // 2. RESOLVE CATEGORIES\n  const catNames = blogData.categories || [\"Best Practices And FAQs\"];\n  for (const name of catNames) {\n    try {\n      const searchUrl = WP_URL + '/wp-json/wp/v2/categories?search=' + encodeURIComponent(name);\n      let catRes;\n      if (typeof fetch !== 'undefined') {\n        const r = await fetch(searchUrl, { headers: { 'Authorization': authHeader } });\n        catRes = await r.json();\n      } else {\n        catRes = await this.helpers.httpRequest({\n          method: 'GET',\n          url: searchUrl,\n          headers: { 'Authorization': authHeader },\n          json: true\n        });\n      }\n      \n      let matchedId = null;\n      if (catRes && Array.isArray(catRes)) {\n        const match = catRes.find(c => c.name.toLowerCase() === name.toLowerCase());\n        if (match) matchedId = match.id;\n      }\n      \n      // DO NOT permit creating new categories if missing. \n      // Only attach if matchedId is resolved from existing WP categories.\n      if (matchedId) {\n        categoryIds.push(matchedId);\n      }\n    } catch (catErr) {}\n  }\n\n  // 3. RESOLVE & CREATE TAGS\n  // blogData.tags is a comma-separated string: \"low AMH, female infertility...\"\n  const tagNames = (blogData.tags || '').split(',').map(t => t.trim()).filter(Boolean);\n  for (const name of tagNames) {\n    try {\n      const searchUrl = WP_URL + '/wp-json/wp/v2/tags?search=' + encodeURIComponent(name);\n      let tagsRes;\n      if (typeof fetch !== 'undefined') {\n        const r = await fetch(searchUrl, { headers: { 'Authorization': authHeader } });\n        tagsRes = await r.json();\n      } else {\n        tagsRes = await this.helpers.httpRequest({\n          method: 'GET',\n          url: searchUrl,\n          headers: { 'Authorization': authHeader },\n          json: true\n        });\n      }\n      \n      let matchedId = null;\n      if (tagsRes && Array.isArray(tagsRes)) {\n        const match = tagsRes.find(t => t.name.toLowerCase() === name.toLowerCase());\n        if (match) matchedId = match.id;\n      }\n      \n      if (matchedId) {\n        tagIds.push(matchedId);\n      } else {\n        // Tag doesn't exist, let's create it\n        const createUrl = WP_URL + '/wp-json/wp/v2/tags';\n        let createRes;\n        if (typeof fetch !== 'undefined') {\n          const r = await fetch(createUrl, {\n            method: 'POST',\n            headers: { 'Content-Type': 'application/json', 'Authorization': authHeader },\n            body: JSON.stringify({ name })\n          });\n          createRes = await r.json();\n        } else {\n          createRes = await this.helpers.httpRequest({\n            method: 'POST',\n            url: createUrl,\n            headers: { 'Content-Type': 'application/json', 'Authorization': authHeader },\n            body: { name },\n            json: true,\n            failOnStatusCode: false\n          });\n        }\n        \n        if (createRes && createRes.id) {\n          tagIds.push(createRes.id);\n        } else if (createRes && createRes.code === 'term_exists') {\n          const termId = createRes.data?.term_id;\n          if (termId) tagIds.push(termId);\n        }\n      }\n    } catch (tagErr) {\n      let errorBody = null;\n      if (tagErr.description) {\n        try { errorBody = JSON.parse(tagErr.description); } catch (e) {}\n      } else if (tagErr.response?.data) {\n        errorBody = tagErr.response.data;\n      } else if (tagErr.message) {\n        const jsonMatch = tagErr.message.match(/\\{[\\s\\S]*\\}/);\n        if (jsonMatch) {\n          try { errorBody = JSON.parse(jsonMatch[0]); } catch (e) {}\n        }\n      }\n      if (errorBody && errorBody.code === 'term_exists') {\n        const termId = errorBody.data?.term_id;\n        if (termId) tagIds.push(termId);\n      }\n    }\n  }\n} catch (err) {}\n\n// Pass through all blog data + the resolved media ID, category IDs, and tag IDs\nreturn {\n  json: {\n    ...blogData,\n    featuredMediaId: featuredMediaId,\n    featuredImageUrl: FEATURED_IMAGE_URL,\n    categoryIds: categoryIds,\n    tagIds: tagIds\n  }\n};"
      },
      "id": "c5d8e9f0-1a2b-3c4d-5e6f-7a8b9c0d1e2f",
      "name": "Resolve Featured Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        208
      ]
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.content }}",
          "slug": "={{ $json.slug }}",
          "status": "draft",
          "featuredMediaId": "={{ $json.featuredMediaId }}"
        }
      },
      "id": "0f1bdd02-a2b8-4259-9427-7adb534ad75b",
      "name": "Post to WordPress",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1696,
        208
      ],
      "credentials": {
        "wordpressApi": {
          "id": "NGxEdDyhjDi0L82a",
          "name": "Wordpress account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ===== WORDPRESS CREDENTIALS =====\nconst WP_URL = 'https://forallhealthcare.com'; // No trailing slash\nconst WP_USER = 'YOUR_WP_USERNAME';\nconst WP_APP_PASSWORD = 'YOUR_WP_APP_PASSWORD';\n// ==================================\n\nconst blogData = $('Parse Blog JSON').item?.json || $('Parse Blog JSON1').item?.json || $node['Parse Blog JSON'].json;\nconst topicData = $('Get First Pending').item?.json || $('Get First Pending1').item?.json || $node['Get First Pending'].json;\nconst featuredData = $('Resolve Featured Image').item?.json || $('Resolve Featured Image1').item?.json || $node['Resolve Featured Image'].json;\n\nconst rowId = blogData.rowId;\nconst originalTitle = topicData.OriginalTitle || topicData.Topic || blogData.title;\nconst wpResult = $input.item.json;\nconst postId = wpResult.id;\nconst posted = !!(postId && typeof postId === 'number');\n\nlet debugLog = [];\n\nif (posted) {\n  const authHeader = 'Basic ' + Buffer.from(WP_USER + ':' + WP_APP_PASSWORD).toString('base64');\n  const headers = { \n    'Content-Type': 'application/json', \n    'Authorization': authHeader,\n    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) n8n/1.0'\n  };\n  \n  // 1. UPDATE RANKMATH SEO META\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: WP_URL + '/wp-json/rankmath/v1/updateMeta',\n      headers: headers,\n      body: {\n        objectType: 'post',\n        objectID: postId,\n        meta: {\n          rank_math_title: blogData.meta_title || blogData.title,\n          rank_math_description: blogData.meta_description || blogData.excerpt || '',\n          rank_math_focus_keyword: blogData.focus_keyword || '',\n          rank_math_robots: 'index,follow'\n        }\n      },\n      json: true\n    });\n    debugLog.push('RankMath Update: Success');\n  } catch(e) {\n    debugLog.push('RankMath Error: ' + e.message);\n  }\n\n  // 2. ATTACH FEATURED IMAGE, CATEGORIES & TAGS\n  try {\n    const updateBody = {\n      meta: {\n        rank_math_title: blogData.meta_title || blogData.title,\n        rank_math_description: blogData.meta_description || blogData.excerpt || '',\n        rank_math_focus_keyword: blogData.focus_keyword || ''\n      }\n    };\n    \n    if (featuredData && featuredData.featuredMediaId && featuredData.featuredMediaId > 0) {\n      updateBody.featured_media = featuredData.featuredMediaId;\n    }\n    \n    // Attach category IDs resolved from WP\n    if (featuredData && featuredData.categoryIds && featuredData.categoryIds.length > 0) {\n      updateBody.categories = featuredData.categoryIds;\n    } else if (blogData.categoryIds && blogData.categoryIds.length > 0) {\n      updateBody.categories = blogData.categoryIds;\n    }\n\n    // Attach tag IDs resolved from WP\n    if (featuredData && featuredData.tagIds && featuredData.tagIds.length > 0) {\n      updateBody.tags = featuredData.tagIds;\n    } else if (blogData.tagIds && blogData.tagIds.length > 0) {\n      updateBody.tags = blogData.tagIds;\n    }\n    \n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: WP_URL + '/wp-json/wp/v2/posts/' + postId,\n      headers: headers,\n      body: updateBody,\n      json: true\n    });\n    debugLog.push('WP Standard Post Update: Success');\n  } catch(e) {\n    debugLog.push('Standard Post Update Error: ' + e.message);\n  }\n}\n\nreturn { json: { rowId, Title: originalTitle, status: posted ? 'published' : 'wp_error', wpId: postId || null, debugLog } };"
      },
      "id": "100da83b-80ef-46c9-9e3c-993b188b0c13",
      "name": "Set SEO Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        208
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1qEE0kEEAIsF9PuTFtY57Nd2ontoJA2uu1qO8n-_I4Aw",
          "mode": "list",
          "cachedResultName": "Title",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qEE0kEEAIsF9PuTFtY57Nd2ontoJA2uu1qO8n-_I4Aw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1583144844,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qEE0kEEAIsF9PuTFtY57Nd2ontoJA2uu1qO8n-_I4Aw/edit#gid=1583144844"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.Title }}",
            "Status": "Done"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e2df56ed-72c6-4033-baa0-636f992c0d6b",
      "name": "Mark Done",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2140,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xVROthrF9JnnTOz8",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "a238f205-a2b5-4d10-8f77-0c1f63c38b80",
      "name": "Done (Skipped)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1472,
        500
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 16,17,18,19 * * *"
            }
          ]
        }
      },
      "id": "e631bfa2-9382-4df3-888e-64d84fde6f71",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -180,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get Pending Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Topics": {
      "main": [
        [
          {
            "node": "Get First Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get First Pending": {
      "main": [
        [
          {
            "node": "Generate Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Blog": {
      "main": [
        [
          {
            "node": "Parse Blog JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Blog",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Blog JSON": {
      "main": [
        [
          {
            "node": "Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready?": {
      "main": [
        [
          {
            "node": "Resolve Featured Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done (Skipped)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Featured Image": {
      "main": [
        [
          {
            "node": "Post to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to WordPress": {
      "main": [
        [
          {
            "node": "Set SEO Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set SEO Meta": {
      "main": [
        [
          {
            "node": "Mark Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Done": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timezone": "Asia/Kolkata"
  },
  "versionId": "99a06ac8-4e15-43da-8c19-72b0d58001ae",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "f0765e258d1d9017583bfab8d66f845af9cdd9e792873f8ae2fe9ddb3bbd5661"
  },
  "id": "tNIuNSdyKNVxPHhb",
  "tags": []
}